<div class="post-content" id="content">
  <script import="md5" src="https://blog.s0ra.cc/js/md5.js"></script>
  <div id="article" class="post-content-info">
    <% if( page.toc ){ %>
      <div id="post-toc">
        <span class="post-toc-title">文章目录</span>
        <%- toc(page.content,{list_number:false}) %>
      </div>
    <% } %>

    <%- page.content %>
  </div>
  <div id="<%- page.comments ? 'gitalk-container' : ''%>"></div>
</div>

<script>
  
Fancybox.bind('[data-fancybox="fancybox-gallery-img"]', {
  dragToClose: true,
  Toolbar: true,
  closeButton: "top",
  Image: {
    zoom: true,
  },
  on: {
    initCarousel: (fancybox) => {
      const slide = fancybox.Carousel.slides[fancybox.Carousel.page];
      fancybox.$container.style.setProperty(
        "--bg-image",
        `url("${slide.$thumb.src}")`
      );
    },
    "Carousel.change": (fancybox, carousel, to, from) => {
      const slide = carousel.slides[to];
      fancybox.$container.style.setProperty(
        "--bg-image",
        `url("${slide.$thumb.src}")`
      );
    },
  },
});
</script>
<script>
window.onload = function addAnchor() {
  var titles = document.getElementsByTagNameNS("http://www.w3.org/1999/xhtml","h2");
  for (var i = 0; i < titles.length; i++) {
    var title = titles[i];
    var titleText = title.textContent;
    var anchor = document.createElement('a');
    anchor.innerText = " #";
    anchor.href = "#"+titleText.replace(/ /g,"-");
    anchor.style = "color:gray";
    title.appendChild(anchor);
  }
}
</script>

<style>
    #content {
        background-image: url('/image/default_pattern.png');
        background-repeat: repeat-y;
        background-position: center;
    }

    #noneimg img {
        display: none;
        z-index: 9999;
        /* width: 600px !important; */
        min-width: 0%;
        max-width: 90%;
        max-height: 80%;
        border-radius: 0px;
        position: fixed;
        box-shadow: 0 0 0px #c3c3c300 !important;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto !important;
    }

    @media screen and (max-width:600px) {
        #noneimg img {
            max-width: 88%
        }
    }
</style>
