<div class="post-paging">
    <% if(page.prev) {%>
    <a href="<%- url_for(page.prev.path) %>">
        <div class="post-paging-last">
            <span>Previous</span>
            <p><%= page.prev.title %></p>
        </div>
    </a>
    <% } %>

    <% if(page.next) {%>
    <a href="<%- url_for(page.next.path) %>">
        <div class="post-paging-next">
            <span>Next</span>
            <p><%= page.next.title %></p>
        </div>
    </a>
    <% } %>
</div>

<style>
    .post-paging {
        background-color: white;
    }
</style>